.directory-row {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.left-space {
    padding-left: 16px;
}

/* Dropdown arrow */
/*.directory-row span:nth-child(1) {*/
/*    display: flex;*/
/*    font-size: 20px;*/
/*}*/

/* Icon */
/*.directory-row span:nth-child(2) {*/
/*    margin-right: 18px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/* Name */
.directory-row span:nth-child(3) {
    padding-left: 5px;
    padding-bottom: 4px;
}

.selected {
    background-color: #b8ddff;
    border-radius: 4px;
    font-weight: bold;
}